$main-color: #6919ff;
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@import 'intro';
@import 'web';
@import 'video';
@import 'make';
@import 'contact';