---
layout: default
---

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
            <h1 class="mb-5">Hi! I am Thomas&nbsp;Talbot, I <strong>make</strong> cool stuff with my computer.</h1>
          <a href="#projects" class="btn btn-primary btn-xl js-scroll-trigger">Learn more</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto face">
        <div class="face-container">
          <img src="{{ "/assets/face.png" | relative_url }}" class="img-fluid" alt="my face">
        </div>
      </div>
    </div>
  </div>
</header>

<section class="projects" id="projects">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Check out my projects</h2>
      <p class="text-muted">Here are the latest ones</p>
      <hr>
    </div>
    <div class="row">
      {% for post in site.posts %}
        <div class="col-lg-4 my-auto">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
              {{ post.excerpt }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">I am a creative technologist</h2>
        <p>with strong skills in mobile programming. Especially interested in highly interactive experiences. Fond of Android, iOS, Angular, innovative designs and ergonomics. Virtual Reality and gaming enthousiast.</p>
      </div>
    </div>
  </div>
</section>
