---
layout: default
---

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
            <h1 class="mb-5">Hi! I am Thomas Talbot, I <strong>make</strong> cool stuff with my computer.</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Learn more</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="face-container">
          <img src="{{ "/assets/face.png" | relative_url }}" class="img-fluid" alt="Thomas Talbot">
        </div>
      </div>
    </div>
  </div>
</header>
